.mail {
  &__title {
    font-size: 20px;
    font-weight: 900;

    @include mobile {
      font-weight: 900;
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__container {
    padding-top: 50px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    span {
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 900;
      font-size: 30px;
      line-height: 29px;
      /* identical to box height, or 80% */

      text-align: center;
      text-transform: uppercase;

      color: #939393;

      @include mobile {
        font-size: 24px;
      }

      a {
        color: #2E9ADB;
        line-height: 34px;

        &:hover {
          color: #0079c4;
        }
      }
    }
  }
}
