@import '../mixins';

.promotion {



  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__btn {
    border: 3px solid var(--blue-color);

    a {
      color: var(--blue-color);
    }
  }

  &__block {
    margin-top: 90px;
    width: 1110px;
    box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    padding-bottom: 30px;

    &-top {
      position: relative;
      min-height: 396px;
      padding-top: 75px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 20px;
      width: 100%;

      &::before {
        content: "";
        position: absolute;
        z-index: 5;
        top: 77%;
        max-width: 990px;
        width: 100%;
        height: 1px;
        background-color: #D2D2D2;
      }

    }

    &-bottom {
      max-height: 0px;
      overflow-y: hidden;
      // display: none;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: max-height 2s linear;
    }




    &-title {
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 900;
      font-size: 60px;

      /* identical to box height */

      text-align: center;
      text-transform: uppercase;

      color: var(--blue-color);

    }

    &-descr {
      // margin-top: 40px;
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;

      text-align: center;

      color: #939393;
      width: 724px;
    }

    &-btn {
      position: relative;
      z-index: 15;
      // margin-top: 55px;
      display: flex;
      background-color: var(--light-color);
      align-items: center;
      justify-content: center;
      width: 64px;
      height: 64px;
      border-radius: 100%;
      border: 1px solid #FFFFFF;
      box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);

      &:hover {
        background: rgb(253, 243, 243);
      }


      svg {
        width: 29px;
        height: 22px;
        fill: var(--green-color);
        transition: transform .3s linear;
      }


    }
  }

  &__adc {
    min-height: 522px;


    &-item {
      width: 174px;
      height: 174px;
      background: var(--light-color);
      box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.08);
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 24px;

      img {
        object-fit: contain;
      }
    }

    &-items {

      display: flex;
      justify-content: center;
      gap: 30px;
      flex-wrap: wrap;
      padding-bottom: 35px;
      border-bottom: 1px dashed #D2D2D2;

    }
  }

  &__cays {



    &-rows {
      padding-top: 60px;
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 60px;
      border-bottom: 1px dashed #D2D2D2;
      padding-bottom: 35px;

    }

    &-row {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 60px;
    }

    &-items {
      display: flex;
      background: #FFFFFF;
      box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.08);
      border-radius: 8px;

    }

    &-item {
      width: 330px;
      height: 200px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 25px;

      &:not(:last-child) {
        border-right: 1px solid #EBEBEB;
        ;
      }

    }

  }

  &__item {
    &-suptitle {
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 500;
      font-size: 19px;
      line-height: 19px;
      /* identical to box height */

      text-align: center;

      color: #939393;
    }

    &-subtitle {
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 500;
      font-size: 23px;
      line-height: 24px;
      /* identical to box height */

      text-align: center;

      color: var(--black-color);

      &--blue {

        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 700;
        font-size: 23px;
        line-height: 24px;
        text-align: center;

        color: #2E9ADB;
      }
    }
  }

  &__advantages {
    display: flex;
    flex-direction: column;

    &-items {
      padding: 0 60px;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    &-item {
      display: flex;
      align-items: center;
      gap: 15px;

      span {
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        /* identical to box height */


        color: var(--black-color);

      }
    }
  }

  &__dev {

    &_items {
      padding-top: 20px;
      display: flex;
      gap: 30px;
      flex-wrap: wrap;
      border-bottom: 1px dashed #D2D2D2;
      padding-bottom: 60px;

    }

    &_item {
      width: 480px;
      height: 185px;
      background: #FFFFFF;
      box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.08);
      border-radius: 8px;
      display: flex;

      &-img {
        width: 35%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 25px;
        border-right: 1px solid #EBEBEB;

        span {
          font-family: 'Gilroy';
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 19px;
          text-align: center;

          color: #939393;
        }
      }

      &-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 25px;
        width: 65%;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        /* identical to box height */

        text-align: center;

        color: var(--black-color);

        span {
          font-family: 'Gilroy';
          font-style: normal;
          font-weight: 500;
          font-size: 19px;
          line-height: 19px;
          /* identical to box height */


          color: #939393;
        }

      }
    }
  }

  &__cycle {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    border-bottom: 1px dashed #D2D2D2;
    padding-bottom: 20px;

    &-subtitle {
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 19px;
      /* identical to box height */

      text-align: center;

      color: #939393;
    }

    &-text {
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 500;
      font-size: 19px;
      line-height: 19px;
      text-align: center;

      color: #060606;
    }
  }

  &__products {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-text {
      margin-top: 40px;
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      /* identical to box height */

      text-align: center;

      color: #939393;

    }

    &-items {
      padding-top: 15px;
      display: flex;
      gap: 30px;
      flex-wrap: wrap;
      justify-content: center;
    }

    &-item {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 24px;
      width: 174px;
      height: 174px;
      background: var(--light-color);
      box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.08);
      border-radius: 8px;

      &_img1 {
        position: absolute;
        right: 17px;
        top: 15px;
        width: 18px;
        height: 20px;
      }

      &_img2 {
        width: 64px;
        height: 64px;
      }

      span {
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        text-align: center;

        color: #939393;

      }

    }
  }

  &__app {
    padding-bottom: 50px;
    border-bottom: 1px dashed #D2D2D2;
    &-items {
      display: flex;
      gap: 30px;
      flex-wrap: wrap;
    }

    &-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 15px;
      padding: 40px 35px;
      width: 480px;
      height: 304px;
      background: var(--light-color);
      box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.08);
      border-radius: 8px;

      p {
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        text-align: center;

        color: var(--black-color);
      }
    }

    &-title {
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
    }
  }
  &__successes {
    display: flex;
    flex-direction: column;
    gap: 30px;
    p {

      font-family: 'Gilroy';
font-style: normal;
font-weight: 400;
font-size: 21px;
line-height: 28px;
text-align: center;

color: #000000;

    }
  }
}


.promotion__block-bottom.active {
  max-height: 3000px;
  transition: max-height 2s linear;


}

.promotion__block-btn.active {
  svg {
    transition: transform .3s linear;
    transform: rotate(180deg);
  }
}
