.vertical {
  min-height: 800px;

  &__items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 87px;
    gap: 30px;

    @include mobile {
      gap: 10px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    padding-right: 15px;
    padding-top: 30px;
    gap: 90px;
    // padding: 40px;
    width: 350px;
    min-height: 350px;
    background-image: url("../img/vertical/item_bg1.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.08);
    border-radius: 8px;

    @include mobile {
      width: 190px;
      min-height: 200px;
      padding: 5px;
      gap: 40px;
    }

    svg {
      width: 100px;
      height: 100px;
      fill: var(--light-color);
    }

    &-title {

      font-style: normal;
      font-weight: 900;
      font-size: 20px;
      line-height: 25px;
      /* identical to box height */


      color: var(--black-color);
    }

    &-descr {
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 16px;

      color: var(--black-color);
    }
  }
}
