<section class="companys">
  <div class="container companys__container">
    <h2 class="section__title companys__title">Нам доверяют</h2>
    <ul class="list-reset companys__items">
      <li class="companys__item">
        <picture>
          <source type="image/avif" srcset="img/companys/companys_item1.avif">
          <source type="image/webp" srcset="img/companys/companys_item1.webp">
          <img src="img/companys/companys_item1.png" alt="">
        </picture>
      </li>
      <li class="companys__item">
        <picture>
          <source type="image/avif" srcset="img/companys/companys_item2.avif">
          <source type="image/webp" srcset="img/companys/companys_item2.webp">
          <img src="img/companys/companys_item2.png" alt="">
        </picture>
      </li>
      <li class="companys__item">
        <picture>
          <source type="image/avif" srcset="img/companys/companys_item3.avif">
          <source type="image/webp" srcset="img/companys/companys_item3.webp">
          <img src="img/companys/companys_item3.png" alt="">
        </picture>
      </li>
      <li class="companys__item">
        <picture>
          <source type="image/avif" srcset="img/companys/companys_item4.avif">
          <source type="image/webp" srcset="img/companys/companys_item4.webp">
          <img src="img/companys/companys_item4.png" alt="">
        </picture>
      </li>
      <li class="companys__item">
        <picture>
          <source type="image/avif" srcset="img/companys/companys_item5.avif">
          <source type="image/webp" srcset="img/companys/companys_item5.webp">
          <img src="img/companys/companys_item5.png" alt="">
        </picture>
      </li>
      <li class="companys__item">
        <picture>
          <source type="image/avif" srcset="img/companys/companys_item6.avif">
          <source type="image/webp" srcset="img/companys/companys_item6.webp">
          <img src="img/companys/companys_item6.png" alt="">
        </picture>
      </li>
      <li class="companys__item">
        <picture>
          <source type="image/avif" srcset="img/companys/companys_item7.avif">
          <source type="image/webp" srcset="img/companys/companys_item7.webp">
          <img src="img/companys/companys_item7.png" alt="">
        </picture>
      </li>
      <li class="companys__item">
        <picture>
          <source type="image/avif" srcset="img/companys/companys_item8.avif">
          <source type="image/webp" srcset="img/companys/companys_item8.webp">
          <img src="img/companys/companys_item8.png" alt="">
        </picture>
      </li>
      <li class="companys__item">
        <picture>
          <source type="image/avif" srcset="img/companys/companys_item9.avif">
          <source type="image/webp" srcset="img/companys/companys_item9.webp">
          <img src="img/companys/companys_item9.png" alt="">
        </picture>
      </li>
      <li class="companys__item">
        <picture>
          <source type="image/avif" srcset="img/companys/companys_item10.avif">
          <source type="image/webp" srcset="img/companys/companys_item10.webp">
          <img src="img/companys/companys_item10.png" alt="">
        </picture>
      </li>
      <li class="companys__item">
        <picture>
          <source type="image/avif" srcset="img/companys/companys_item11.avif">
          <source type="image/webp" srcset="img/companys/companys_item11.webp">
          <img src="img/companys/companys_item11.png" alt="">
        </picture>
      </li>
      <li class="companys__item">
        <picture>
          <source type="image/avif" srcset="img/companys/companys_item12.avif">
          <source type="image/webp" srcset="img/companys/companys_item12.webp">
          <img src="img/companys/companys_item12.png" alt="">
        </picture>
      </li>
      <li class="companys__item">
        <picture>
          <source type="image/avif" srcset="img/companys/companys_item13.avif">
          <source type="image/webp" srcset="img/companys/companys_item13.webp">
          <img src="img/companys/companys_item13.png" alt="">
        </picture>
      </li>
      <li class="companys__item">
        <picture>
          <source type="image/avif" srcset="img/companys/companys_item14.avif">
          <source type="image/webp" srcset="img/companys/companys_item14.webp">
          <img src="img/companys/companys_item14.png" alt="">
        </picture>
      </li>
      <li class="companys__item">
        <picture>
          <source type="image/avif" srcset="img/companys/companys_item15.avif">
          <source type="image/webp" srcset="img/companys/companys_item15.webp 1x">
          <img src="img/companys/companys_item15.png" alt="">
        </picture>
      </li>
      <li class="companys__item">
        <picture>
          <source type="image/avif" srcset="img/companys/companys_item16.avif">
          <source type="image/webp" srcset="img/companys/companys_item16.webp">
          <img src="img/companys/companys_item16.png" alt="">
        </picture>
      </li>



    </ul>
    <span class="companys__text">и десятки других популярных компаний</span>
  </div>
</section>
