<section class="companys">
  <div class="container companys__container">
    <h2 class="section__title companys__title">Нам доверяют</h2>
    <ul class="list-reset companys__items">
      <li class="companys__item">
        <img src="img/companys/companys_item1.png" alt="">
      </li>
      <li class="companys__item">
        <img src="img/companys/companys_item2.png" alt="">
      </li>
      <li class="companys__item">
        <img src="img/companys/companys_item3.png" alt="">
      </li>
      <li class="companys__item">
        <img src="img/companys/companys_item4.png" alt="">
      </li>
      <li class="companys__item">
        <img src="img/companys/companys_item5.png" alt="">
      </li>
      <li class="companys__item">
        <img src="img/companys/companys_item6.png" alt="">
      </li>
      <li class="companys__item">
        <img src="img/companys/companys_item7.png" alt="">
      </li>
      <li class="companys__item">
        <img src="img/companys/companys_item8.png" alt="">
      </li>
      <li class="companys__item">
        <img src="img/companys/companys_item9.png" alt="">
      </li>
      <li class="companys__item">
        <img src="img/companys/companys_item10.png" alt="">
      </li>
      <li class="companys__item">
        <img src="img/companys/companys_item11.png" alt="">
      </li>
      <li class="companys__item">
        <img src="img/companys/companys_item12.png" alt="">
      </li>
      <li class="companys__item">
        <img src="img/companys/companys_item13.png" alt="">
      </li>
      <li class="companys__item">
        <img src="img/companys/companys_item14.png" alt="">
      </li>
      <li class="companys__item">
        <img src="img/companys/companys_item15.png" alt="">
      </li>
      <li class="companys__item">
        <img src="img/companys/companys_item16.png" alt="">
      </li>



    </ul>
    <span class="companys__text">и десятки других популярных компаний</span>
  </div>
</section>
