<footer class="footer">
  <div class="container footer__container">

    <div class="footer__columns">
      <div class="footer__column">
        <div class="footer__logo">
          <picture>
            <source type="image/avif" srcset="img/logo.avif">
            <source type="image/webp" srcset="img/logo.webp">
            <img src="img/logo.png" alt="">
          </picture>
        </div>
        <span>Все права защищены. Traffic Shark @ 2015-2021</span>
        <a href="#">Terms & Conditions</a>
        <a href="#">Privacy police</a>
      </div>
      <div class="footer__column">
        <ul class="list-reset footer__accordion">
          <li class="footer__accordion-item">
            <span class="footer__accordion-title">
              <svg>
                <use xlink:href="img/sprite.svg#accordion_arrow"></use>
              </svg>
              Веб-мастерам
            </span>
            <p class="footer__accordion-text">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Dolore totam aut earum, facere minus voluptate.
            </p>
          </li>
          <li class="footer__accordion-item ">
            <span class="footer__accordion-title">
              <svg>
                <use xlink:href="img/sprite.svg#accordion_arrow"></use>
              </svg>
              Рекламодателям
            </span>
            <p class="footer__accordion-text">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Dolore totam aut earum, facere minus voluptate.
            </p>
        </ul>
      </div>
      <div class="footer__column">
        <ul class="list-reset footer__social">
          <li class="footer__social-item">

            <a href="#"><svg>
                <use xlink:href="img/sprite.svg#footer_social1"></use>

              </svg>partner@trafficshark.pro</a>
          </li>
          <li class="footer__social-item">

            <a href="#"><svg>
                <use xlink:href="img/sprite.svg#footer_social2"></use>

              </svg>@telegramname</a>
          </li>
          <li class="footer__social-item">

            <a href="#"><svg>
                <use xlink:href="img/sprite.svg#footer_social3"></use>

              </svg>@skypename</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
