<header class="header">
  <div class="container header__container">

  

    <a href="#" class="header__logo">
      <img src="img/logo.png" alt="logo">
    </a>
    <ul class="list-reset header__items">
      <li class="header__item"><a href="#">вебмастерам</a></li>
      <li class="header__item"><a href="#">рекламодателям</a></li>
    </ul>
    <a href="#" class="header__btn">вход <span>|</span> <span>регистрация</span></a>

    <label class="header__langswitch">

      <span>RU</span>

      <input class="input-reset header__langswitch-input" type="checkbox">
      <span>EN</span>
    </label>

  </div>
</header>
