<header class="header">
  <div class="container header__container">



    <a href="#" class="header__logo">
      <picture>
        <source type="image/avif" srcset="img/logo.avif">
        <source type="image/webp" srcset="img/logo.webp">
        <img src="img/logo.png" alt="">
      </picture>
    </a>
    <ul class="list-reset header__items">
      <li class="header__item"><a class="header__item--one" href="index.html">вебмастерам</a></li>
      <li class="header__item"><a class="header__item--two" href="page-2.html">рекламодателям</a></li>
    </ul>
    <a href="authorization.html" class="header__btn">
      <span class="header__item--four">вход</span> <span>|</span>
      <span class="header__item--three">регистрация</span></a>

    <label class="header__langswitch">

      <span>RU</span>

      <input class="input-reset header__langswitch-input" type="checkbox">
      <span>EN</span>
    </label>

  </div>
</header>
