<section class="mobile mobile--two mobile__lang_page_two">
  <div class="container mobile__container">
    <div class="mobile__text mobile__text--two">
      <h1 class="mobile__title mobile__title--two">разработка и&nbsp;продвижение мобильных приложений</h1>
      <h2 class="section__subtitle">Более 100 успешных кейсов по&nbsp;всему миру</h2>
    </div>
    <ul class="list-reset mobile__info">
      <li class="mobile__info-item">
        100+
        <span>успешных кейсов</span>
      </li>
      <li class="mobile__info-item">
        2
        <span>медиабаинговые команды</span>
      </li>
      <li class="mobile__info-item">
        6
        <span data-lang="mobile__item-three">лет в аффилейт маркетинге</span>
      </li>
      <li class="mobile__info-item">
        300.000+
        <span data-lang="mobile__item-four">конверсий в месяц</span>
      </li>

    </ul>

    <div class="mobile__choice">

      <div class="container mobile__choice-container">

        <div class="mobile__choice-column">
          <p class="mobile__choice-text" data-lang="mobile__item-five">
            Я пользователь соцсетей, блогер, владелец сайта или арбитражник и хочу сотрудничать с топовыми мировыми
            брендами.
          </p>
          <a href="index.html" class="btn mobile__btn mobile__btn--page_two" data-lang="mobile__item-six">
            веб-мастерам
            <svg>
              <use xlink:href="img/sprite.svg#arrow_btn"></use>
            </svg>
          </a>
        </div>

        <div class="mobile__choice-column">
          <p class="mobile__choice-text" data-lang="mobile__item-seven">
            Я владелец компании или маркетолог и хочу привлечь новых клиентов и увеличить продажи с помощью
            онлайн-рекламы.
          </p>
          <a data-lang="mobile__item-eight" href="page-2.html"
            class="btn mobile__btn mobile__btn--green mobile__btn--rotate">
            рекламодателю
            <svg>
              <use xlink:href="img/sprite.svg#arrow_btn"></use>
            </svg>
          </a>
        </div>

      </div>
    </div>
  </div>
</section>
