<section class="mobile">
  <div class="container mobile__container">
    <div class="mobile__text">
      <h1 class="mobile__title">Мобильная партнерская сеть</h1>
      <h2 class="section__subtitle">Только рабочие офферы от прямых рекламодателей</h2>
    </div>
    <ul class="list-reset mobile__info">
      <li class="mobile__info-item">
        300+
        <span>офферов по всему миру</span>
      </li>
      <li class="mobile__info-item">
        70+
        <span>активных рекламодателей</span>
      </li>
      <li class="mobile__info-item">
        6 лет
        <span>в аффилейт маркетинге</span>
      </li>
      <li class="mobile__info-item">
        10.000+
        <span>конверсий в день</span>
      </li>

    </ul>

    <div class="mobile__choice">

      <div class="container mobile__choice-container">

        <div class="mobile__choice-column">
          <p class="mobile__choice-text">
            Я пользователь соцсетей, блогер, владелец сайта или арбитражник и хочу сотрудничать с топовыми мировыми
            брендами.
          </p>
          <a href="#" class="btn mobile__btn">
            веб-мастерам
            <svg>
              <use xlink:href="img/sprite.svg#arrow_btn"></use>
            </svg>
          </a>
        </div>

        <div class="mobile__choice-column">
          <p class="mobile__choice-text">
            Я владелец компании или маркетолог и хочу привлечь новых клиентов и увеличить продажи с помощью
            онлайн-рекламы.
          </p>
          <a href="page-2.html" class="btn mobile__btn mobile__btn--green">
            рекламодателю
            <svg>
              <use xlink:href="img/sprite.svg#arrow_btn"></use>
            </svg>
          </a>
        </div>

      </div>
    </div>
  </div>
</section>
