<section class="mobile mobile__lang_page_one">
  <div class="container mobile__container">
    <div class="mobile__text">
      <h1 class="mobile__title" data-lang="mobile">Мобильная партнерская сеть</h1>
      <h2 class="section__subtitle" data-lang="mobile__sub">Только рабочие офферы от прямых рекламодателей</h2>
    </div>
    <ul class="list-reset mobile__info">
      <li class="mobile__info-item">
        300+
        <span data-lang="mobile__item-one">офферов по всему миру</span>
      </li>
      <li class="mobile__info-item">
        70+
        <span data-lang="mobile__item-two">активных рекламодателей</span>
      </li>
      <li class="mobile__info-item">
        6
        <span data-lang="mobile__item-three">лет в аффилейт маркетинге</span>
      </li>
      <li class="mobile__info-item">
        10.000+
        <span data-lang="mobile__item-four">конверсий в день</span>
      </li>

    </ul>

    <div class="mobile__choice">

      <div class="container mobile__choice-container">

        <div class="mobile__choice-column">
          <p class="mobile__choice-text" data-lang="mobile__item-five">
            Я пользователь соцсетей, блогер, владелец сайта или арбитражник и хочу сотрудничать с топовыми мировыми
            брендами.
          </p>
          <a href="#" class="btn mobile__btn">
            <span data-lang="mobile__item-six">веб-мастерам</span>
            <svg>
              <use xlink:href="img/sprite.svg#arrow_btn"></use>
            </svg>
          </a>
        </div>

        <div class="mobile__choice-column">
          <p class="mobile__choice-text" data-lang="mobile__item-seven">
            Я владелец компании или маркетолог и хочу привлечь новых клиентов и увеличить продажи с помощью
            онлайн-рекламы.
          </p>
          <a href="page-2.html" class="btn mobile__btn mobile__btn--green">
            <span  data-lang="mobile__item-eight">рекламодателю</span>
            <svg>
              <use xlink:href="img/sprite.svg#arrow_btn"></use>
            </svg>
          </a>
        </div>

      </div>
    </div>
  </div>
</section>
