<section class="payment">
  <div class="container payment__container">

    <h2 class="section__title payment__title">Еженедельные выплаты <span>от $100</span> </h2>

    <h3 class="section__subtitle payment__subtitle">На удобную для вас платежную систему из перечисленных ниже</h3>

    <ul class="list-reset payment__items">
      <li class="payment__item">
        <picture>
          <source type="image/avif" srcset="img/payment/payment1.avif">
          <source type="image/webp" srcset="img/payment/payment1.webp">
          <img src="img/payment/payment1.png" alt="">
        </picture>

      </li>
      <li class="payment__item">
        <picture>
          <source type="image/avif" srcset="img/payment/payment2.avif">
          <source type="image/webp" srcset="img/payment/payment2.webp">
          <img src="img/payment/payment2.png" alt="">
        </picture>
      </li>
      <li class="payment__item">
        <picture>
          <source type="image/avif" srcset="img/payment/payment3.avif">
          <source type="image/webp" srcset="img/payment/payment3.webp">
          <img src="img/payment/payment3.png" alt="">
        </picture>
      </li>
      <li class="payment__item">
        <picture>
          <source type="image/avif" srcset="img/payment/payment4.avif">
          <source type="image/webp" srcset="img/payment/payment4.webp">
          <img src="img/payment/payment4.png" alt="">
        </picture>
      </li>
      <li class="payment__item">
        <picture>
          <source type="image/avif" srcset="img/payment/payment5.avif">
          <source type="image/webp" srcset="img/payment/payment5.webp">
          <img src="img/payment/payment5.png" alt="">
        </picture>
      </li>
      <li class="payment__item">
        <picture>
          <source type="image/avif" srcset="img/payment/payment6.avif">
          <source type="image/webp" srcset="img/payment/payment6.webp">
          <img src="img/payment/payment6.png" alt="">
        </picture>
      </li>
    </ul>
  </div>
</section>
