<section class="promotion">

  <div class="container promotion__container">
    <h2 class="section__title">направления нашей деятельности</h2>


    <div class="promotion__block">
      <div class="promotion__block-top">
        <span class="promotion__block-title">
          Продвижение
        </span>
        <p class="promotion__block-descr">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do&nbsp;eiusmod tempor incididunt ut&nbsp;labore
          et&nbsp;dolore magna aliqua. Ut&nbsp;enim ad&nbsp;minim veniam, quis nostrud exercitation ullamco laboris nisi
          ut&nbsp;aliquip ex&nbsp;ea&nbsp;commodo consequat.
        </p>
        <button data-promotion-block-btn="1" class="btn-reset promotion__block-btn">
          <svg>
            <use xlink:href="img/sprite.svg#promotion__btn"></use>
          </svg>
        </button>
      </div>
      <div data-promotion-block-bottom="1" class="promotion__block-bottom">
        <div class="promotion__adc">
          <h4 class="subblock__title">
            Рекламные форматы
          </h4>
          <ul class="list-reset promotion__adc-items">
            <li class="promotion__adc-item">

              <img src="img/promotion/promotion__icon1.svg" alt="">
              <span>Facebook</span>


            </li>
            <li class="promotion__adc-item">

              <img src="img/promotion/promotion__icon2.svg" alt="">
              <span>Google UAC</span>


            </li>
            <li class="promotion__adc-item">

              <img src="img/promotion/promotion__icon3.svg" alt="">
              <span>MyTarget</span>


            </li>
            <li class="promotion__adc-item">

              <img src="img/promotion/promotion__icon4.svg" alt="">
              <span>TikTok</span>


            </li>
            <li class="promotion__adc-item">

              <img src="img/promotion/promotion__icon5.svg" alt="">
              <span>ASA</span>


            </li>
            <li class="promotion__adc-item">

              <img src="img/promotion/promotion__icon6.svg" alt="">
              <span>InApp</span>


            </li>
            <li class="promotion__adc-item">

              <img src="img/promotion/promotion__icon7.svg" alt="">
              <span>Popunder</span>


            </li>
            <li class="promotion__adc-item">

              <img src="img/promotion/promotion__icon8.svg" alt="">
              <span>Push</span>


            </li>
          </ul>
        </div>
        <div class="promotion__cays">
          <h4 class="subblock__title">наши кейсы</h4>
          <div class="promotion__cays-rows">
            <div class="promotion__cays-row">
              <img src="img/promotion/cays1.png" alt="Joom">
              <ul class="list-reset promotion__cays-items">
                <li class="promotion__cays-item">
                  <span class="promotion__item-suptitle">Траффик</span>
                  <span class="promotion__item-subtitle">Facebook</span>
                </li>
                <li class="promotion__cays-item">
                  <span class="promotion__item-suptitle">Расходы</span>
                  <span class="promotion__item-subtitle">54.800 $</span>
                </li>
                <li class="promotion__cays-item">
                  <span class="promotion__item-suptitle">Показатели компании</span>
                  <span class="promotion__item-subtitle promotion__item-subtitle--blue">Покупки более чем на
                    200.000$</span>
                </li>
              </ul>
            </div>
            <div class="promotion__cays-row">
              <img src="img/promotion/cays2.png" alt="Stoloto">
              <ul class="list-reset promotion__cays-items">
                <li class="promotion__cays-item">
                  <span class="promotion__item-suptitle">Траффик</span>
                  <span class="promotion__item-subtitle">Facebook, TikTok, InApp</span>
                </li>
                <li class="promotion__cays-item">
                  <span class="promotion__item-suptitle">Расходы</span>
                  <span class="promotion__item-subtitle">10.000.000 руб.</span>
                </li>
                <li class="promotion__cays-item">
                  <span class="promotion__item-suptitle">Показатели компании</span>
                  <span class="promotion__item-subtitle promotion__item-subtitle--blue">Привлеченные пользователи купили
                    билеты более чем на 30.000.000 руб.</span>
                </li>
              </ul>
            </div>
            <div class="promotion__cays-row">
              <img src="img/promotion/cays3.png" alt="Joom">
              <ul class="list-reset promotion__cays-items">
                <li class="promotion__cays-item">
                  <span class="promotion__item-suptitle">Траффик</span>
                  <span class="promotion__item-subtitle">Popunder, Push</span>
                </li>
                <li class="promotion__cays-item">
                  <span class="promotion__item-suptitle">Расходы</span>
                  <span class="promotion__item-subtitle">500.000 $</span>
                </li>
                <li class="promotion__cays-item">
                  <span class="promotion__item-suptitle">Показатели компании</span>
                  <span class="promotion__item-subtitle promotion__item-subtitle--blue">25.000+ триалов в месяц, 7.500+
                    покупок,
                    ТОП-10 в США по выручке в Apple Store</span>
                </li>
              </ul>
            </div>
            <div class="promotion__cays-row">
              <img src="img/promotion/cays4.png" alt="Joom">
              <ul class="list-reset promotion__cays-items">
                <li class="promotion__cays-item">
                  <span class="promotion__item-suptitle">Траффик</span>
                  <span class="promotion__item-subtitle">Popunder, Push, In-Page push, Calendar</span>
                </li>
                <li class="promotion__cays-item">
                  <span class="promotion__item-suptitle">Расходы</span>
                  <span class="promotion__item-subtitle">160.000 $</span>
                </li>
                <li class="promotion__cays-item">
                  <span class="promotion__item-suptitle">Показатели компании</span>
                  <span class="promotion__item-subtitle promotion__item-subtitle--blue">10.000+ триалов в месяц, 4.000+
                    покупок</span>
                </li>
              </ul>
            </div>
          </div>
        </div>


        <div class="promotion__advantages">
          <h4 class="subblock__title">Преимущества</h4>

          <ul class="list-reset promotion__advantages-items">
            <li class="promotion__advantages-item">
              <img src="img/promotion/adv1.svg" alt="check">
              <span>Сильный inhouse медиабаинг из более чем 10 человек</span>
            </li>
            <li class="promotion__advantages-item">
              <img src="img/promotion/adv1.svg" alt="check">
              <span>Проверенный траффик высокого качества</span>
            </li>
            <li class="promotion__advantages-item">
              <img src="img/promotion/adv1.svg" alt="check">
              <span>Понимание потребностей клиента, опираясь на опыт продвижения собственных продуктов</span>
            </li>
            <li class="promotion__advantages-item">
              <img src="img/promotion/adv1.svg" alt="check">
              <span>Собственное производство промо-материалов</span>
            </li>
            <li class="promotion__advantages-item">
              <img src="img/promotion/adv1.svg" alt="check">
              <span>Никакого фрода и ботов</span>
            </li>
            <li class="promotion__advantages-item">
              <img src="img/promotion/adv1.svg" alt="check">
              <span>Интеграции с Adjust, Appsflyer и др. трекерами</span>
            </li>
          </ul>


        </div>



        <button class="btn-reset btn work__btn">Связаться</button>
      </div>

    </div>


    <div class="promotion__block">
      <div class="promotion__block-top">
        <span class="promotion__block-title">
          разработка
        </span>
        <p class="promotion__block-descr">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do&nbsp;eiusmod tempor incididunt ut&nbsp;labore
          et&nbsp;dolore magna aliqua. Ut&nbsp;enim ad&nbsp;minim veniam, quis nostrud exercitation ullamco laboris nisi
          ut&nbsp;aliquip ex&nbsp;ea&nbsp;commodo consequat.
        </p>
        <button data-promotion-block-btn="2" class="btn-reset promotion__block-btn">
          <svg>
            <use xlink:href="img/sprite.svg#promotion__btn"></use>
          </svg>
        </button>
      </div>
      <div data-promotion-block-bottom="2" class="promotion__block-bottom">

        <div class="promotion__dev">

          <h4 class="subblock__title">разрабатываем мобильные приложения под ключ</h4>
          <ul class="list-reset promotion__dev_items">
            <li class="promotion__dev_item">

              <div class="promotion__dev_item-img">
                <img src="img/promotion/promotion__dev1.svg" alt="">
                <span>IOS</span>
              </div>
              <div class="promotion__dev_item-text">
                <span>Используемые технологии:</span>
                Swift
              </div>
            </li>
            <li class="promotion__dev_item">

              <div class="promotion__dev_item-img">
                <img src="img/promotion/promotion__dev2.svg" alt="">
                <span>Android</span>
              </div>
              <div class="promotion__dev_item-text">
                <span>Используемые технологии:</span>
                Java, Kotlin
              </div>
            </li>
          </ul>

        </div>
        <div class="promotion__cycle">
          <h4 class="subblock__title">Полный цикл разработки</h4>
          <span class="promotion__cycle-subtitle">От идеи, прототипа, дизайна и технического задания до публикации и
            поддержки приложения!</span>
          <div class="promotion__cycle-img">
            <img src="img/promotion/cycle1.svg" alt="">
          </div>
          <p class="promotion__cycle-text">
            Так же мы успешно разрабатываем свои IOS | Android приложения, поэтому мы отлично понимаем, что необходимо
            нашим партнерам
          </p>
        </div>
        <div class="promotion__products">
          <h4 class="subblock__title">наши продукты</h4>
          <ul class="list-reset promotion__products-items">
            <li class="promotion__products-item">
              <img class="promotion__products-item_img1" src="img/promotion/promotion__dev2.svg" alt="">
              <img class="promotion__products-item_img2" src="img/promotion/promotion__products1.png" alt="">
              <span>
                Ghost Cleaner
              </span>
            </li>
            <li class="promotion__products-item">
              <img class="promotion__products-item_img1" src="img/promotion/promotion__dev1.svg" alt="">
              <img class="promotion__products-item_img2" src="img/promotion/promotion__products2.png" alt="">
              <span>
                Ghost Cleaner
              </span>
            </li>
            <li class="promotion__products-item">
              <img class="promotion__products-item_img1" src="img/promotion/promotion__dev1.svg" alt="">
              <img class="promotion__products-item_img2" src="img/promotion/promotion__products3.png" alt="">
              <span>
                Ghost Cleaner
              </span>
            </li>
            <li class="promotion__products-item">
              <img class="promotion__products-item_img1" src="img/promotion/promotion__dev1.svg" alt="">
              <img class="promotion__products-item_img2" src="img/promotion/promotion__products4.png" alt="">
              <span>
                Ghost Cleaner
              </span>
            </li>
            <li class="promotion__products-item">
              <img class="promotion__products-item_img1" src="img/promotion/promotion__dev2.svg" alt="">
              <img class="promotion__products-item_img2" src="img/promotion/promotion__products5.png" alt="">
              <span>
                Ghost Cleaner
              </span>
            </li>
            <li class="promotion__products-item">
              <img class="promotion__products-item_img1" src="img/promotion/promotion__dev2.svg" alt="">
              <img class="promotion__products-item_img2" src="img/promotion/promotion__products6.png" alt="">
              <span>
                Ghost Cleaner
              </span>
            </li>
            <li class="promotion__products-item">
              <img class="promotion__products-item_img1" src="img/promotion/promotion__dev1.svg" alt="">
              <img class="promotion__products-item_img2" src="img/promotion/promotion__products7.png" alt="">
              <span>
                Ghost Cleaner
              </span>
            </li>
            <li class="promotion__products-item">
              <img class="promotion__products-item_img1" src="img/promotion/promotion__dev1.svg" alt="">
              <img class="promotion__products-item_img2" src="img/promotion/promotion__products8.png" alt="">
              <span>
                Ghost Cleaner
              </span>
            </li>
            <li class="promotion__products-item">
              <img class="promotion__products-item_img1" src="img/promotion/promotion__dev1.svg" alt="">
              <img class="promotion__products-item_img2" src="img/promotion/promotion__products9.png" alt="">
              <span>
                Ghost Cleaner
              </span>
            </li>
            <li class="promotion__products-item">
              <img class="promotion__products-item_img1" src="img/promotion/promotion__dev1.svg" alt="">
              <img class="promotion__products-item_img2" src="img/promotion/promotion__products10.png" alt="">
              <span>
                Ghost Cleaner
              </span>
            </li>
          </ul>
          <span class="promotion__products-text">и многие другие проекты...</span>
        </div>





        <button class="btn-reset btn work__btn">Связаться</button>
      </div>

    </div>


    <div class="promotion__block">
      <div class="promotion__block-top">
        <span class="promotion__block-title">
          ASO (App store optimization)
        </span>
        <p class="promotion__block-descr">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do&nbsp;eiusmod tempor incididunt ut&nbsp;labore
          et&nbsp;dolore magna aliqua. Ut&nbsp;enim ad&nbsp;minim veniam, quis nostrud exercitation ullamco laboris nisi
          ut&nbsp;aliquip ex&nbsp;ea&nbsp;commodo consequat.
        </p>
        <button data-promotion-block-btn="3" class="btn-reset promotion__block-btn">
          <svg>
            <use xlink:href="img/sprite.svg#promotion__btn"></use>
          </svg>
        </button>
      </div>
      <div data-promotion-block-bottom="3" class="promotion__block-bottom">

        <div class="promotion__app">
          <h4 class="subblock__title promotion__app-title">продвижение мобильных
            приложений в&nbsp;apple app store и&nbsp;google play</h4>

          <ul class="list-reset promotion__app-items">
            <li class="promotion__app-item">
              <img src="img/promotion/promotion__app1.svg" alt="">
              <p>Повышаем позиции вашего приложения в&nbsp;выдаче при поиске внутри магазинов приложений
                по&nbsp;заданным ключевым фразам</p>
            </li>
            <li class="promotion__app-item">
              <img src="img/promotion/promotion__app2.svg" alt="">
              <p>
                Использование различных подходов и&nbsp;зание алгоритмов работы магазинов приложений от&nbsp;Google
                и&nbsp;Apple позволяет нам точно определить, какие изменения в&nbsp;метаданных нужно сделать, чтобы
                обеспечить рост органических установок, видимости и&nbsp;конверсий для вашего приложения
              </p>
            </li>
          </ul>
        </div>
        <div class="promotion__successes">
          <h4 class="subblock__title">наши успехи</h4>
          <p>
            Мы&nbsp;смогли вывести наши собственные приложения в&nbsp;ТОП-10 среди категорий утилитит в&nbsp;USA,
            в&nbsp;ТОП-15 среди утилит&nbsp;CA и&nbsp;UK, а&nbsp;так&nbsp;же в&nbsp;ТОП-15 среди TIER-3
          </p>
        </div>





        <button class="btn-reset btn work__btn">Связаться</button>
      </div>

    </div>

  </div>
</section>
