<section class="questions">
  <div class="container questions__container">
    <h3 class="questions__title">Остались вопросы? Готовы ответить!</h3>

    <form action="mail.php" method="post" class="questions__form">
      <label class="questions__input">
        <input class="input-reset questions__form-name" type="text" placeholder="Ваше имя">
      </label>
      <label class="questions__input">
        <input class="input-reset questions__form-phone" type="tel" placeholder="Ваши контакты">
      </label>
      <label class="questions__input">
        <input class="input-reset questions__form-offer" type="text" placeholder="Ваше предложение">
      </label>

      <button type="submit"  class="btn-reset btn questions__btn">написать нам</button>
    </form>

  </div>
</section>
