<section class="top">
  <div class="container top__container">
    <h2 class="section__title top__title">
      мы всегда в топе!
    </h2>
    <h3 class="section__subtitle top_subtitle">Мы&nbsp;прямой рекламодатель с&nbsp;собственными офферами, которые входят
      в
      топ-чарты AppStore и
      Google Play. </h3>

    <div class="top__items">
      <div class="top__item">

        <span>Топ</span>
        <p class="top__item-descr">
          Наши офферы входят в&nbsp;ТОПы в&nbsp;AppStore и&nbsp;Google Play
        </p>

      </div>
      <div class="top__item">

        <span>офферы</span>
        <p class="top__item-descr">
          Мы&nbsp;делаем собственные белые мобильные офферы, которые вы&nbsp;не&nbsp;найдете ни&nbsp;в&nbsp;одной другой
          партнерке
        </p>

      </div>
      <div class="top__item">

        <span>2.5 <sub>$</sub></span>
        <p class="top__item-descr">
          Мы&nbsp;платим до&nbsp;$2.5 за&nbsp;инсталл и&nbsp;принимаем трафик со&nbsp;всего мира
        </p>

      </div>

    </div>
  </div>
</section>
