<section class="top">
  <div class="container top__container">
    <h2 class="section__title top__title">
      мы всегда в топе!
    </h2>
    <h3 class="section__subtitle top_subtitle">Наш опыт измеряется более $50.000.000 рекламного бюджета за&nbsp;все
      время, поэтому мы&nbsp;прекрасно понимаем ваши потребности и&nbsp;готовы их&nbsp;закрыть в&nbsp;полной мере. </h3>

    <div class="top__items">
      <div class="top__item">

        <span>Топ</span>
        <p class="top__item-descr">
          Умеем выводить приложения в&nbsp;топы AppStore и&nbsp;Google Play
        </p>

      </div>
      <div class="top__item">

        <span>покупки</span>
        <p class="top__item-descr">
          Ориентируемся не&nbsp;только на&nbsp;инсталлы, но&nbsp;и&nbsp;на&nbsp;покупки и&nbsp;оплаты внутри приложения
        </p>

      </div>
      <div class="top__item">

        <span>0.1 <sub>$</sub></span>
        <p class="top__item-descr">
          Стоимость одного инсталла начинается всего от&nbsp;$0.1
        </p>

      </div>

    </div>
  </div>
</section>
