<section class="vertical">
  <div class="container vertical__container">

    <h2 class="section__title">Топовые вертикали</h2>
    <ul class="list-reset vertical__items">

      <li class="vertical__item">
        <svg>
          <use xlink:href="img/sprite.svg#vertical_item1"></use>
        </svg>
        <div class="vertical__item-text">
          <span class="vertical__item-title">Installs</span>
          <p class="vertical__item-descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do&nbsp;eiusmod tempor
            incididunt ut&nbsp;labore et&nbsp;dolore magna.
          </p>
        </div>
      </li>
      <li class="vertical__item">
        <svg>
          <use xlink:href="img/sprite.svg#vertical_item2"></use>
        </svg>
        <div class="vertical__item-text">
          <span class="vertical__item-title">Utilities</span>
          <p class="vertical__item-descr">Ut&nbsp;enim ad&nbsp;minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex&nbsp;ea&nbsp;commodo consequat.
          </p>
        </div>
      </li>
      <li class="vertical__item">
        <svg>
          <use xlink:href="img/sprite.svg#vertical_item3"></use>
        </svg>
        <div class="vertical__item-text">
          <span class="vertical__item-title">APK</span>
          <p class="vertical__item-descr">Excepteur sint occaecat cupidatat non proident, sunt in&nbsp;culpa qui officia
            deserunt mollit anim id&nbsp;est laborum.
          </p>
        </div>
      </li>
      <li class="vertical__item">
        <svg>
          <use xlink:href="img/sprite.svg#vertical_item4"></use>
        </svg>
        <div class="vertical__item-text">
          <span class="vertical__item-title">Addons</span>
          <p class="vertical__item-descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do&nbsp;eiusmod tempor
            incididunt ut&nbsp;labore et&nbsp;dolore magna.
          </p>
        </div>
      </li>
      <li class="vertical__item">
        <svg>
          <use xlink:href="img/sprite.svg#vertical_item5"></use>
        </svg>
        <div class="vertical__item-text">
          <span class="vertical__item-title">Gambling/Betting </span>
          <p class="vertical__item-descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do&nbsp;eiusmod tempor
            incididunt ut&nbsp;labore et&nbsp;dolore magna.
          </p>
        </div>
      </li>
      <li class="vertical__item">
        <svg>
          <use xlink:href="img/sprite.svg#vertical_item6"></use>
        </svg>
        <div class="vertical__item-text">
          <span class="vertical__item-title">Новые вертикали</span>
          <p class="vertical__item-descr">Мы&nbsp;всегда в&nbsp;поиске новых трендовых вертикалей для наших вебмастеров
          </p>
        </div>
      </li>

    </ul>
  </div>
</section>
