<section class="work">
  <div class="container work__container">

    <h2 class="section__title work__title">Факты о нас</h2>
    <ul class="list-reset work__items work__items--page_two">

      <li class="work__item work__item--two">
        <svg>
          <use xlink:href="img/sprite.svg#work21"></use>
        </svg>
        <span>Нам доверяют крупнейшие рекламодатели со&nbsp;всего мира</span>
      </li>
      <li class="work__item work__item--two">
        <svg>
          <use xlink:href="img/sprite.svg#work22"></use>
        </svg>
        <span>Показываем стабильный рост и&nbsp;развитие непрерывно с&nbsp;2015 года</span>
      </li>

      <li class="work__item work__item--two">
        <svg>
          <use xlink:href="img/sprite.svg#work23"></use>
        </svg>
        <span>2&nbsp;офиса в&nbsp;России</span>
      </li>

      <li class="work__item work__item--two">
        <svg>
          <use xlink:href="img/sprite.svg#work24"></use>
        </svg>
        <span>Собственные отделы медиабаинга и&nbsp;разработки</span>
      </li>

      <li class="work__item work__item--two">
        <svg>
          <use xlink:href="img/sprite.svg#work25"></use>
        </svg>
        <span>Собственные Android и&nbsp;iOS приложения</span>
      </li>





    </ul>
    <button class="btn-reset btn work__btn">Связаться</button>

  </div>
</section>
