<section class="work">
  <div class="container work__container">

    <h2 class="section__title work__title">Работать с нами это</h2>
    <ul class="list-reset work__items">

      <li class="work__item">
        <svg>
          <use xlink:href="img/sprite.svg#work1"></use>
        </svg>
        <span>Уверенность и&nbsp;стабильность!
          Мы&nbsp;на&nbsp;рынке с&nbsp;2015г.</span>
      </li>
      <li class="work__item">
        <svg>
          <use xlink:href="img/sprite.svg#work2"></use>
        </svg>
        <span>Большой выбор мобильных приложений и&nbsp;аддонов</span>
      </li>

      <li class="work__item">
        <svg>
          <use xlink:href="img/sprite.svg#work3"></use>
        </svg>
        <span>Дружелюбная и&nbsp;квалифицированная поддержка</span>
      </li>

      <li class="work__item">
        <svg>
          <use xlink:href="img/sprite.svg#work4"></use>
        </svg>
        <span>Эффективная монетизация Pop-under, Push, In-App, FB, Google и&nbsp;других источников трафика</span>
      </li>

      <li class="work__item">
        <svg>
          <use xlink:href="img/sprite.svg#work5"></use>
        </svg>
        <span>Эксклюзивные предложения благодаря собственному сильному баингу</span>
      </li>
      

      <li class="work__item">
        <svg>
          <use xlink:href="img/sprite.svg#work6"></use>
        </svg>
        <span>Стабильные выплаты 1&nbsp;раз в&nbsp;неделю от&nbsp;$100 после проверки качества</span>
      </li>



    </ul>
    <button class="btn-reset btn work__btn">Регистрация</button>

  </div>
</section>
